*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-weight: bold;
    color: rgb(65, 58, 58);
}

body{
    background-color: rgb(156, 155, 155);
}

#Container-Articoli{
    width: 100%;
    display: flex;
    justify-content: space-around;
}